<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fdsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterMessage"
            android:label="Register"></activity>
        <activity android:name=".DeleteId"
            android:label="Deleting.."/>
        <activity android:name=".About"
            android:label="About"/>
        <activity android:name=".WelcomeProfile"
            android:label="User Profile"/>
        <activity android:name=".Help"
            android:label="Help"/>
        <activity android:name=".UsersList"
            android:label="UserList"/>
        <activity android:name=".LogTable"
            android:label="Data Log"/>
        <activity android:name=".Preference"
            android:label="Preferance"/>
        <activity android:name=".AdminArea"
            android:label="Admin Area"/>
        <activity android:name=".Register"
            android:label="Registration"/>
        <activity
            android:name=".MainTask"
            android:windowSoftInputMode="stateHidden"
            android:label="Main Page"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>